* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 1em;
    font-family: "National", sans-serif;
    color: #efefef;
}

body {
    color: #fded97;
    background-color: #272727;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.sidenav {
  width: 200px;
  height: 800px;
  position: fixed;
  z-index: 1;
  top: 25%;
  left: 10px;
  overflow-x: hidden;
  padding: 12px 0;
}

.sidenav a {
  text-decoration: none;
  font-size: 18px;
  font-family: "National", sans-serif;
  color: #efefef;
  display: block;
}

.sidenav c {
  text-decoration: none;
  font-size: 18px;
  font-family: "National", sans-serif;
  color: #efefef;
  display: block;
  padding: 6px 8px 6px 16px;
}

.sidenav b {
  text-decoration: none;
    font-size: 14px;
    font-family: "National", sans-serif;
    color: #efefef;
    display: block;
    padding-left: 20px;
}

.sidenav a:hover {
  color: #fded97;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.icon {
    background: url('static/github-sign.png');
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}

figure > img {
    display: block
}

ul, ol {
    margin-left: 12px
}

li > ul, li > ol {
    margin-bottom: 0
}

.star {
    position: absolute;
    z-index: -1;
}


.wrapper {
    display: grid;
    grid-template-columns: [start] 1fr [content-start] repeat(12, 69.3333333333px) [content-end] 1fr [end];
    grid-column-gap: 12px;
    margin-bottom: 96px
}

@media screen and (max-width: 1000px) {
    .wrapper {
        grid-template-columns: [start] 1fr [content-start] repeat(12, 40.1666666667px) [content-end] 1fr [end]
    }
}

@media screen and (max-width: 650px) {
    .wrapper {
        grid-template-columns: [start] 24px [content-start] repeat(12, 1fr) [content-end] 24px [end]
    }
}

.page-title {
    grid-column: content-start / content-end;
    margin-top: 10vh;
    position: relative
}

.large-text {
    font-family: "National", impact, sans-serif;
    color: transparent;
    -webkit-text-stroke: 0.015em #272727;
    font-size: 120px;
    line-height: 1;
    letter-spacing: -0.01em
}

.large-text strong {
    color: #272727
}

@media screen and (max-width: 1000px) {
    .large-text {
        font-size: 100px
    }
}

@media screen and (max-width: 650px) {
    .large-text {
        font-size: 72px
    }
}

.title {
    margin: 48px 0 24px;
    margin-left: 1.15em;
    text-indent: -1.15em
}

.title::before {
    content: "— "
}

p {
    margin-top: 1em
}

p.outdent {
    margin-left: 1.15em;
    text-indent: -1.15em
}

a {
    color: #efefef;
    text-decoration: none;
}

a:hover {
    color: silver;
}

a:active {
    color: #00f0e3;
}

ul {
    list-style-type: circle
}

header {
    grid-column: content-start / content-end;
    padding: 12px 0;
    display: flex;
    justify-content: space-between
}

header .nav-grouping-right {
    display: flex
}

header .nav-grouping-right .nav-item {
    margin-left: 24px
}

.about-content {
    grid-column: content-start / span 7;
    font-weight: 400;
    font-size: 25.92px;
    line-height: 34.56px;
    font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
}

@media screen and (max-width: 1000px) {
    .about-content {
        grid-column: content-start / span 7;
        font-weight: 400;
        font-size: 21.6px;
        line-height: 28.8px;
        font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

@media screen and (max-width: 650px) {
    .about-content {
        grid-column: content-start / content-end;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

.star-one {
    height: 60px;
    width: 60px; 
    left: 35%;
    top: -4rem;
    transform: rotate(32deg)
}

@media screen and (max-width: 650px) {
    .star-one {
        height: 60px;
        width: 60px; 
        left: 35%;
        top: -4.5rem;
        transform: rotate(32deg)
    }
}

.star-two {
    height: 75px;
    width: 75px;
    right: 0rem;
    top: 12rem
}

@media screen and (max-width: 1000px) {
    .star-two {
        top: 4rem;
        right: -2rem;
        height: 75px;
        width: 75px;
    }
}

@media screen and (max-width: 650px) {
    .star-two {
        right: -2.2rem;
        top: -2rem;
        height: 75px;
        width: 75px;
    }
}

.star-three {
    height: 50px;
    width: 50px;
    left: 45%;
    bottom: -4.5rem;
    transform: rotate(23deg);
}

.star-four {
    height: 35px;
    width: 35px;
    left: 10%;
    bottom: -3rem;
    transform: rotate(40deg);
}

.star-five {
    height: 69px;
    width: 69px;
    left: 65%;
    transform: rotate(83deg);
}

.star-six {
    height: 100px;
    width: 100px;
    bottom: -10rem;
    left: 5%;
    transform: rotate(20deg);
}

.star-seven {
    height: 60px;
    width: 60px; 
    left: 35%;
    bottom: -57rem;
    transform: rotate(32deg)
}

.star-eight {
    height: 75px;
    width: 75px;
    left: 15rem;
    top: 55rem
}

.star-nine {
    height: 50px;
    width: 50px;
    left: 80%;
    bottom: -20rem;
    transform: rotate(23deg);
}

.star-ten {
    height: 35px;
    width: 35px;
    left: 90%;
    bottom: -50rem;
    transform: rotate(40deg);
}

.star-eleven {
    height: 69px;
    width: 69px;
    left: 65%;
    transform: rotate(83deg);
}

.star-twelve {
    height: 100px;
    width: 100px;
    bottom: -50rem;
    left: 5%;
    transform: rotate(20deg);
}


.project:hover{
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.project {
      position: relative;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 10px;
      background-color: #272727;
    }

    .project:hover img {
      opacity: 0.3;
    }

    .project:hover .proj-text {
      opacity: 1; 
    }

    .project:hover .cap-text{
        opacity: 1;
    }

    .project img {
      padding: 0;
      display: block;
      opacity: 1;
      margin-left: 17.3%;
    }

    .project img,
    .proj-text, 
    .cap-text {
      -webkit-transition: opacity 0.5s ease-out;
      -moz-transition: opacity 0.5s ease-out;
      -o-transition: opacity 0.5s ease-out;
      transition: opacity 0.5s ease-out;
    }

/* Centered text */
.proj-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "National", sans-serif;
  font-weight: 300;
  font-size: 3em;
  color: #efefef;
  opacity: 0;
}

.cap-text{
    position: absolute;
    margin-top: 2px;
    font-size: 1em;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "National", sans-serif;
      font-weight: 300;
      color: #efefef;
      opacity: 0;
}

#footer {
    position: relative;
    bottom: 1px;
    width: 100%;
    color: #EFEFEF;
    font-family: "National", sans-serif;
    text-align: center;
}


.full{
    background: url("static/star.svg") repeat-y top left;
}

.index-content {
    grid-column: content-start / content-end;
    position: relative;
    margin-left: 180px;
    height: 100vh;
}

.abt-content {
    grid-column: content-start / content-end;
    margin-left: 180px;
    height: 100vh;
}

.row {
    display: flex;
    padding-right: 10%;
    padding-left: 10%;
  }
  
  .column {
    flex: 33.33%;
    padding: 1px;
  }

.img-content{
    grid-column: content-start / content-end;
    grid-row: content-start / content-end;
    position: relative;
    margin-bottom: 50px;
}

.img-content2{
    grid-column: content-start / content-end;
    position: relative;
    margin-bottom: 50px;
}

.proj-content {
    grid-column: content-start / content-end
}

.index-img {
    height: 100px;
    background-image: url('static/hn1.');
}

.index-text {
    font-family: "National", impact, sans-serif;
    color: transparent;
    -webkit-text-stroke: 0.015em #efefef;
    font-size: 85px;
    line-height: 1;
    letter-spacing: -0.01em;
    position: relative;
    margin-top: 5%;
}

.index-text strong {
    color: #efefef
}

@media screen and (max-width: 1000px) {
    .index-text {
        font-size: 85px
    }
}

@media screen and (max-width: 650px) {
    .index-text {
        font-size: 32px;
        margin-top: 5vh
    }
}

.container{
    padding: 75px 0;
    margin: 0 auto;
    width: 1140px;
  }

.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
  }
  
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
  }

  .item:hover{
      flex: 4;
  }
  
  .item-1 { 
    background-image: url('../static/pt1.png');
  }
  
  .item-2 { 
    background-image: url('../static/pt2.png');  }
  
  .item-3 { 
    background-image: url('../static/pt4.png');  }
  
  .item-4 { 
    background-image: url('../static/pt5.png');  }
  
  .item-5 { 
    background-image: url('../static/pt6.png');  }
  
    .item-6 { 
        background-image: url('../static/pt7.png');
      }
      
      .item-7 { 
        background-image: url('../static/pt8.png');  }
      
      .item-8 { 
        background-image: url('../static/pt9.png');  }
      
      .item-9 { 
        background-image: url('../static/pt10.png');  }
      
      .item-10 { 
        background-image: url('../static/pt11.png');  }
        
        .item-11 { 
            background-image: url('../static/pt12.png');  }
          
          .item-12 { 
            background-image: url('../static/pt13.png');  }

            .item-13 { 
                background-image: url('../static/duet_1.png');  }
              
              .item-14 { 
                background-image: url('../static/duet_2.png');  }
              
              .item-15 { 
                background-image: url('../static/duet_16.png');  }
                
                .item-16 { 
                    background-image: url('../static/duet_20.png');  }
                  
                  .item-17 { 
                    background-image: url('../static/duet_21.png');  }

                    .item-18 { 
                        background-image: url('../static/duet_22.png');  }