* {
    box-sizing: border-box
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1em
}

body {
    color: #EFEFEF;
    background-color: #fded97;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
}

figure > img {
    display: block
}

ul, ol {
    margin-left: 12px
}

li > ul, li > ol {
    margin-bottom: 0
}

.face {
    position: absolute;
    z-index: -1
}

.error-smile {
    left: 2rem;
    top: 4.5rem;
    transform: rotate(-12deg)
}

@media screen and (max-width: 1000px) {
    .error-smile {
        top: 3rem
    }
}

@media screen and (max-width: 650px) {
    .error-smile {
        top: 1rem
    }
}

.wrapper {
    display: grid;
    grid-template-columns: [start] 1fr [content-start] repeat(12, 69.3333333333px) [content-end] 1fr [end];
    grid-column-gap: 12px;
    margin-bottom: 96px
}

@media screen and (max-width: 1000px) {
    .wrapper {
        grid-template-columns: [start] 1fr [content-start] repeat(12, 40.1666666667px) [content-end] 1fr [end]
    }
}

@media screen and (max-width: 650px) {
    .wrapper {
        grid-template-columns: [start] 24px [content-start] repeat(12, 1fr) [content-end] 24px [end]
    }
}

.page-title {
    grid-column: content-start / content-end;
    margin-top: 10vh;
    position: relative
}

.large-text {
    font-family: "National", impact, sans-serif;
    color: transparent;
    text-stroke: 0.015em #272727;
    -webkit-text-stroke: 0.015em #272727;
    font-size: 120px;
    line-height: 1;
    letter-spacing: -0.01em
}

.large-text strong {
    color: #272727
}

@media screen and (max-width: 1000px) {
    .large-text {
        font-size: 100px
    }
}

@media screen and (max-width: 650px) {
    .large-text {
        font-size: 72px
    }
}

.title {
    margin: 48px 0 24px;
    margin-left: 1.15em;
    text-indent: -1.15em
}

.title::before {
    content: "— "
}

p {
    margin-top: 1em
}

p.outdent {
    margin-left: 1.15em;
    text-indent: -1.15em
}

a {
    color: #efefef;
    text-decoration: none;
    border-bottom: 0.07em solid
}

a:hover {
    color: silver;
    border-bottom: 0.07em solid silver
}

a:active {
    color: #00f0e3;
    border-bottom: 0.07em solid #00f0e3
}

ul {
    list-style-type: circle
}

header {
    grid-column: content-start / content-end;
    padding: 12px 0;
    display: flex;
    justify-content: space-between
}

header .nav-grouping-right {
    display: flex
}

header .nav-grouping-right .nav-item {
    margin-left: 24px
}

.about-content {
    grid-column: content-start / span 7;
    font-weight: 400;
    font-size: 25.92px;
    line-height: 34.56px;
    font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
}

@media screen and (max-width: 1000px) {
    .about-content {
        grid-column: content-start / span 7;
        font-weight: 400;
        font-size: 21.6px;
        line-height: 28.8px;
        font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

@media screen and (max-width: 650px) {
    .about-content {
        grid-column: content-start / content-end;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

.about-meh {
    right: 7rem;
    top: 8.2rem;
    transform: rotate(-64deg)
}

@media screen and (max-width: 1000px) {
    .about-meh {
        right: 3.5rem;
        top: 4.2rem
    }
}

@media screen and (max-width: 650px) {
    .about-meh {
        transform: rotate(-23deg);
        right: 0rem;
        top: -7rem
    }
}

.about-headshot {
    grid-column: span 4 / content-end;
    z-index: -2
}

.about-headshot img {
    width: 100%
}

@media screen and (max-width: 1000px) {
    .about-headshot {
        grid-column: span 4 / content-end
    }
}

@media screen and (max-width: 650px) {
    .about-headshot {
        display: none
    }
}

.index-wow {
    left: 11%;
    top: -4rem;
    transform: rotate(32deg)
}

@media screen and (max-width: 650px) {
    .index-wow {
        top: -4.5rem
    }
}

.index-meh {
    right: 0rem;
    top: 12rem
}

@media screen and (max-width: 1000px) {
    .index-meh {
        top: 4rem;
        right: -2rem
    }
}

@media screen and (max-width: 650px) {
    .index-meh {
        right: -2.2rem;
        top: -2rem
    }
}

.index-smile {
    left: 45%;
    bottom: -4.5rem;
    transform: rotate(23deg)
}

.index-content {
    grid-column: content-start / content-end
}

.index-text {
    font-family: "National", impact, sans-serif;
    color: transparent;
    text-stroke: 0.015em #efefef;
    -webkit-text-stroke: 0.015em #efefef;
    font-size: 85px;
    line-height: 1;
    letter-spacing: -0.01em;
    position: relative
}

.index-text strong {
    color: #efefef
}

@media screen and (max-width: 1000px) {
    .index-text {
        font-size: 85px
    }
}

@media screen and (max-width: 650px) {
    .index-text {
        font-size: 32px;
        margin-top: 5vh
    }
}

.projects-content {
    grid-column: content-start / span 7;
    font-weight: 400;
    font-size: 44.78976px;
    line-height: 59.71968px;
    font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
}

@media screen and (max-width: 1000px) {
    .projects-content {
        grid-column: content-start / content-end;
        font-weight: 400;
        font-size: 31.104px;
        line-height: 41.472px;
        font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

@media screen and (max-width: 650px) {
    .projects-content {
        font-weight: 400;
        font-size: 25.92px;
        line-height: 34.56px;
        font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

.projects-sidebar {
    grid-column: span 4 / content-end;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
}

@media screen and (max-width: 1000px) {
    .projects-sidebar {
        grid-column: content-start / content-end
    }
}

.projects-wow {
    left: 5rem;
    top: -3rem;
    transform: rotate(145deg);
    position: absolute
}

@media screen and (max-width: 1000px) {
    .projects-wow {
        left: 4rem;
        top: -4rem
    }
}

@media screen and (max-width: 650px) {
    .projects-wow {
        left: 2rem;
        top: -4.5rem
    }
}

.project-meta, .project-figure, .project-section {
    margin: 10vh 0
}

.project-meta {
    margin-top: 20vh;
    grid-column: content-start / content-end
}

.project-meta .project-title, .project-meta .project-teaser, .project-meta .project-context {
    margin: 12px 0
}

.project-title {
    font-weight: 400;
    font-size: 133.7415067238px;
    line-height: 178.3220089651px;
    font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 1
}

@media screen and (max-width: 1000px) {
    .project-title {
        font-weight: 400;
        font-size: 92.876046336px;
        line-height: 123.834728448px;
        font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1
    }
}

@media screen and (max-width: 650px) {
    .project-title {
        font-weight: 400;
        font-size: 53.747712px;
        line-height: 71.663616px;
        font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1
    }
}

.project-teaser {
    font-weight: 400;
    font-size: 53.747712px;
    line-height: 71.663616px;
    font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1
}

@media screen and (max-width: 1000px) {
    .project-teaser {
        font-weight: 400;
        font-size: 44.78976px;
        line-height: 59.71968px;
        font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1
    }
}

@media screen and (max-width: 650px) {
    .project-teaser {
        font-weight: 400;
        font-size: 25.92px;
        line-height: 34.56px;
        font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1
    }
}

.project-context {
    font-weight: 400;
    font-size: 31.104px;
    line-height: 41.472px;
    font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
}

@media screen and (max-width: 1000px) {
    .project-context {
        font-weight: 400;
        font-size: 25.92px;
        line-height: 34.56px;
        font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

@media screen and (max-width: 650px) {
    .project-context {
        font-weight: 400;
        font-size: 21.6px;
        line-height: 28.8px;
        font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

.project-section {
    grid-column: content-start / span 7;
    font-weight: 400;
    font-size: 31.104px;
    line-height: 41.472px;
    font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
}

@media screen and (max-width: 1000px) {
    .project-section {
        grid-column: content-start / span 10;
        font-weight: 400;
        font-size: 25.92px;
        line-height: 34.56px;
        font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

@media screen and (max-width: 650px) {
    .project-section {
        grid-column: content-start / content-end;
        font-weight: 400;
        font-size: 21.6px;
        line-height: 28.8px;
        font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

.project-figure {
    grid-column: content-start / content-end
}

.project-figure.full-bleed {
    grid-column: start / end;
    text-align: center
}

.project-figure.full-bleed label {
    margin: 12px
}

.project-figure img, .project-figure iframe, .project-figure video {
    max-width: 100%
}

.project-figure label {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    margin: 12px 0
}

@media screen and (max-width: 650px) {
    .project-figure {
        grid-column: start / end;
        text-align: center
    }

    .project-figure label {
        margin: 12px
    }
}

.project-smile {
    left: -2.3rem;
    top: 4rem;
    transform: rotate(-52deg);
    position: relative;
    display: inline-block
}

.talks-intro {
    grid-column: content-start / span 4
}

@media screen and (max-width: 1000px) {
    .talks-intro {
        grid-column: content-start / span 5
    }
}

@media screen and (max-width: 650px) {
    .talks-intro {
        grid-column: content-start / content-end
    }
}

.talks-content {
    grid-column: 7 / span 6;
    font-weight: 400;
    font-size: 21.6px;
    line-height: 28.8px;
    font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
}

@media screen and (max-width: 1000px) {
    .talks-content {
        grid-column: span 7 / content-end;
        font-weight: 400;
        font-size: 21.6px;
        line-height: 28.8px;
        font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

@media screen and (max-width: 650px) {
    .talks-content {
        grid-column: content-start / content-end;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        font-family: "Founders", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

.talks-smile {
    left: -2.9rem;
    top: 3.1rem;
    transform: rotate(-52deg);
    position: relative;
    display: inline-block
}

@media screen and (max-width: 650px) {
    .talks-smile {
        position: absolute;
        left: 6rem;
        top: 0rem
    }
}


